doctype html 
html(lang="en")
    head 
        title Test Page 
    body 
        h1 This is a h1 text 
        p If you haven't seen Game of Thrones, go watch it right now. 
          If you have then you'll totally get why this Hodor themed lorem ipsum generator is just brilliant.
        ul 
           li sengal 1
           li sengal 2
           li sengal 3   
          

                